In [1]:
import pandas as pd 
import numpy as np 
import sqlalchemy as sa
import configparser 

from Classes.SQL import SQL

In [2]:
# Load Config
config = configparser.ConfigParser()
config.read('Config/config.ini')

['Config/config.ini']

In [3]:
# Initialize Variables
eng_conn = config['Dev']['conn_string']

In [4]:
conn_variables = SQL('',eng_conn)
conn = conn_variables.create_connection()

In [24]:
query = '''
    Select * FROM AdventureWorks2017.Sales.SalesOrderHeader
'''

In [25]:
df = pd.read_sql_query(query, conn)

In [26]:
df.count()

SalesOrderID              31465
RevisionNumber            31465
OrderDate                 31465
DueDate                   31465
ShipDate                  31465
Status                    31465
OnlineOrderFlag           31465
SalesOrderNumber          31465
PurchaseOrderNumber        3806
AccountNumber             31465
CustomerID                31465
SalesPersonID              3806
TerritoryID               31465
BillToAddressID           31465
ShipToAddressID           31465
ShipMethodID              31465
CreditCardID              30334
CreditCardApprovalCode    30334
CurrencyRateID            13976
SubTotal                  31465
TaxAmt                    31465
Freight                   31465
TotalDue                  31465
Comment                       0
rowguid                   31465
ModifiedDate              31465
dtype: int64

In [29]:
df.isnull().sum()

SalesOrderID                  0
RevisionNumber                0
OrderDate                     0
DueDate                       0
ShipDate                      0
Status                        0
OnlineOrderFlag               0
SalesOrderNumber              0
PurchaseOrderNumber       27659
AccountNumber                 0
CustomerID                    0
SalesPersonID             27659
TerritoryID                   0
BillToAddressID               0
ShipToAddressID               0
ShipMethodID                  0
CreditCardID               1131
CreditCardApprovalCode     1131
CurrencyRateID            17489
SubTotal                      0
TaxAmt                        0
Freight                       0
TotalDue                      0
Comment                   31465
rowguid                       0
ModifiedDate                  0
PaymentMethod                 0
dtype: int64

In [28]:
df['PaymentMethod'] = np.where(df['CreditCardID'].isnull(), 'Cash', 'Card')

In [30]:
print(df.head())

   SalesOrderID  RevisionNumber  OrderDate    DueDate   ShipDate  Status  \
0         43659               8 2011-05-31 2011-06-12 2011-06-07       5
1         43660               8 2011-05-31 2011-06-12 2011-06-07       5
2         43661               8 2011-05-31 2011-06-12 2011-06-07       5
3         43662               8 2011-05-31 2011-06-12 2011-06-07       5
4         43663               8 2011-05-31 2011-06-12 2011-06-07       5

   OnlineOrderFlag SalesOrderNumber PurchaseOrderNumber   AccountNumber  ...  \
0            False          SO43659         PO522145787  10-4020-000676  ...
1            False          SO43660       PO18850127500  10-4020-000117  ...
2            False          SO43661       PO18473189620  10-4020-000442  ...
3            False          SO43662       PO18444174044  10-4020-000227  ...
4            False          SO43663       PO18009186470  10-4020-000510  ...

   CreditCardApprovalCode  CurrencyRateID    SubTotal     TaxAmt   Freight  \
0           105041Vi84182             NaN  20565.6206  1971.5149  616.0984
1           115213Vi29411             NaN   1294.2529   124.2483   38.8276
2             85274Vi6854             4.0  32726.4786  3153.7696  985.5530
3           125295Vi53935             4.0  28832.5289  2775.1646  867.2389
4            45303Vi22691             NaN    419.4589    40.2681   12.5838

     TotalDue  Comment                               rowguid  ModifiedDate  \
0  23153.2339     None  79B65321-39CA-4115-9CBA-8FE0903E12E6    2011-06-07
1   1457.3288     None  738DC42D-D03B-48A1-9822-F95A67EA7389    2011-06-07
2  36865.8012     None  D91B9131-18A4-4A11-BC3A-90B6F53E9D74    2011-06-07
3  32474.9324     None  4A1ECFC0-CC3A-4740-B028-1C50BB48711C    2011-06-07
4    472.3108     None  9B1E7A40-6AE0-4AD3-811C-A64951857C4B    2011-06-07

   PaymentMethod
0           Card
1           Card
2           Card
3           Card
4           Card

[5 rows x 27 columns]